{% extends 'base.html' %} {% block title %}
Chapter 6
{% endblock title %}{% block content %}
<div align="center">
    <h1>Chapter 6 Squares And Square roots</h1>
</div>
<h5>Question 1</h5>
<p id="Q1"> The square of 42 is:</p>
<p>(a)1764</p>
<p>(b)1664</p>
<p>(c)1564</p>
<p>(d)1504</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<br>
<div id="que1" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q2"> The Pythagorean triples whose smallest number is 8:</p>
<p>(a)8, 16 17</p>
<p>(b)8, 17, 18</p>
<p>(c)8, 15, 17</p>
<p>(d)8, 15, 16</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<br>
<div id="que2" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q3">Which of the following is not a square number??</p>
<p>(a) 4</p>
<p>(b) 9</p>
<p>(c) 16</p>
<p>(d) 24</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<br>
<div id="que3" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 4</h5>
<p id="Q4">The square of 23 is: </p>
<p>(a)529</p>
<p>(b) 526</p>
<p>(c)46</p>
<p>(d)429</p>
<button onclick="myFunction('que4`')" id="view">View Answer</button>
<br>
<div id="que4" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 5</h5>
<p id="Q5"> The square of which of the following would be even number?</p>
<p>(a)2826</p>
<p>(b)7779</p>
<p>(c) 1057</p>
<p>(d) 131</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<br>
<div id="que5" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 6</h5>
<p id="Q6">The square of which of the following would be odd number?</p>
<p>(a) 431</p>
<p>(b) 272</p>
<p>(c)1234</p>
<p>(d)7928</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<br>
<div id="que6" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 7</h5>
<p id="Q7"> Which of the following is a perfect square?</p>
<p>(a)45</p>
<p>(b)81</p>
<p>(c)18</p>
<p>(d)54</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<br>
<div id="que7" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>

<br />
<h5>Question 8</h5>
<p id="Q8">What will be the “one’s digit” in the square of 1234?</p>
<p>(a)6</p>
<p>(b)2</p>
<p>(c)8</p>
<p>(d)9</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<br>
<div id="que8" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 9</h5>
<p id="Q9">What will be the number of zeros in the square of 400?</p>
<p>(a)5</p>
<p>(b)1</p>
<p>(c)3</p>
<p>(d)4</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<br>
<div id="que9" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 10</h5>
<p id="Q10">The perfect square number between 30 and 40 is: </p>
<p>(a)35</p>
<p>(b)39</p>
<p>(c)36</p>
<p>(d)32</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<br>
<div id="que10" style="display:none;">
    <h6 id="Answer">Answer: (c )</h6>
</div>
<br />
<h5>Question 11</h5>
<p id="Q11">Which of the following number would have digit 6 at units place?</p>
<p>(a) 192</p>
<p>(b) 242</p>
<p>(c) 252</p>
<p>(d) 132</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<br>
<div id="que11" style="display:none;">


    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 12</h5>
<p id="Q12">Which of the following number would have digit 5 at units place: </p>
<p>(a) 952</p>
<p>(b) 592</p>
<p>(c) 242</p>
<p>(d) 422</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<br>
<div id="que12" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 13</h5>
<p id="Q13"> Which of the following number would have digit 1 at units place?</p>
<p>(a)812</p>
<p>(b)182</p>
<p>(c)542</p>
<p>(d)952</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<br>
<div id="que13" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 14</h5>
<p id="Q14"> The square root of 6400 is</p>
<p>(a) 80</p>
<p>(b) 81</p>
<p>(c) 32</p>
<p>(d) 23</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<br>
<div id="que14" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 15</h5>
<p id="Q15"> By which smallest number 90 must be multiplied so as to make it a perfect square?</p>
<p>(a) 10</p>
<p>(b) 2</p>
<p>(c) 5</p>
<p>(d) 3</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<br>
<div id="que15" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 16</h5>
<p id="Q16">By which smallest number 48 must be divided so as to make it a perfect square?</p>
<p>(a) 2</p>
<p>(b) 3</p>
<p>(c) 6</p>
<p>(d) 4</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<br>
<div id="que16" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 17</h5>
<p id="Q17"> Which smallest number should be added to 80 so as to make it a perfect square?</p>
<p>(a) 2</p>
<p>(b) 3</p>
<p>(c) 1</p>
<p>(d) 4</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<br>
<div id="que17" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 18</h5>
<p id="Q18"> What could be the possible “one’s digit” of the square root of 625?</p>
<p>(a) 0</p>
<p>(b) 22.66</p>
<p>(c) 20</p>
<p>(d) 35</p>

<button onclick="myFunction('que18')" id="view">View Answer</button>
<br>
<div id="que18" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 19</h5>
<p id="Q19">The additive identity of rational numbers is:</p>
<p>(a) 100</p>
<p>(b) 101</p>
<p>(c) 121/
<p>
<p>(d) 144</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<br>
<div id="que19" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 20</h5>
<p id="Q20">Which is the greatest three-digit perfect square?</p>
<p>(a) 999</p>
<p>(b) 961</p>
<p>(c) 962</p>
<p>(d) 970</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br>
<div id="que20" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br>
{% endblock content %}