{% extends 'base.html' %} {% block title %} Chapter 1 {% endblock title %}{%
block content %}
<div align="center">
  <h1>Chapter 1 Rational Numbers</h1>
</div>
<h5>Question 1</h5>
<p id="Q1">The reciprocal of a negative rational number is</p>
<p>(a) a positive rational number</p>
<p>(b) a negative rational number</p>
<p>(c) 0</p>
<p>(d) -1</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<br>
<div id="que1" style="display:none;">
  <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q1">Which of the following statements is false?</p>
<p>(a) Natural numbers are closed under subtraction</p>
<p>(b) Whole numbers are not closed under subtraction</p>
<p>(c) Integers are closed under subtraction</p>
<p>(d) Rational numbers are closed under subtraction</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<br>
<div id="que2" style="display:none;">
  <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q1">Which of the following statements is true?</p>
<p>(a) Natural numbers are closed under multiplication</p>
<p>(b) Whole numbers are not closed under multiplication</p>
<p>(c) Integers are not closed under multiplication</p>
<p>(d) Rational numbers are not closed under multiplication.</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<br>
<div id="que3" style="display:none;"><h6 id="Answer">Answer: (a)</h6></div>
<br />
<h5>Question 4</h5>
<p id="Q1">The reciprocal of a positive rational number is</p>
<p>(a) a positive rational number</p>
<p>(b) a negative rational number</p>
<p>(c) 0</p>
<p>(d) 1</p>
<button onclick="myFunction('que4')" id="view">View Answer</button>
<br>
<div id="que4" style="display:none;"><h6 id="Answer">Answer: (a)</h6></div>
<br />
<h5>Question 5</h5>
<p id="Q1">Which of the following statements is false?</p>
<p>(a) Natural numbers are commutative for addition</p>
<p>(b) Whole numbers are commutative for addition</p>
<p>(c) Integers are not commutative for addition</p>
<p>(d) Rational numbers are commutative for addition.</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<br>
<div id="que5" style="display:none;"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 6</h5>
<p id="Q1">Which of the following statements is true?</p>
<p>(a) Natural numbers are commutative for subtraction</p>
<p>(b) Whole numbers are commutative for subtraction</p>
<p>(c) Integers are commutative for subtraction</p>
<p>(d) Rational numbers are not commutative for subtraction.</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<br>
<div id="que6" style="display:none;"><h6 id="Answer">Answer: (d)</h6></div>

<br />
<h5>Question 7</h5>
<p id="Q1">Which of the following statements is true ?</p>
<p>(a) Natural numbers are associative for division</p>
<p>(b) Whole numbers are associative for division</p>
<p>(c) Integers are associative for division</p>
<p>(d) Rational numbers are not associative for division</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<br>
<div id="que7" style="display:none;"><h6 id="Answer">Answer: (d)</h6></div>

<br />
<h5>Question 8</h5>
<p id="Q1">0 is not</p>
<p>(a) a natural number</p>
<p>(b) a whole number</p>
<p>(c) an integer</p>
<p>(d) a rational number.</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<br>
<div id="que8" style="display:none;"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 9</h5>
<p id="Q1">a + b = b + a is called</p>
<p>(a) commutative law of addition</p>
<p>(b) associative law of addition</p>
<p>(c) distributive law of addition</p>
<p>(d) none of these.</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<br>
<div id="que9" style="display:none;"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 10</h5>
<p id="Q1">a × b = b × a is called</p>
<p>(a) commutative law for addition</p>
<p>(b) commutative law for multiplication</p>
<p>(c) associative law for addition</p>
<p>(d) associative law for multiplication.</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<br>
<div id="que10" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 11</h5>
<p id="Q1">(a + b) + c = a + (b + c) is called</p>
<p>(a) commutative law for multiplication</p>
<p>(b) commutative law for addition</p>
<p>(c) associative law for addition</p>
<p>(d) associative law for multiplication.</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<br>
<div id="que11" style="display:none;"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 12</h5>
<p id="Q1">a × (b × c) = (a × b) × c is called</p>
<p>(a) associative law for addition</p>
<p>(b) associative law for multiplication</p>
<p>(c) commutative law for addition</p>
<p>(d) commutative law for multiplication</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<br>
<div id="que12" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 13</h5>
<p id="Q1">The multiplicative inverse of -1 is</p>
<p>(a) 0</p>
<p>(b) -1</p>
<p>(c) 1</p>
<p>(d) none of these</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<br>
<div id="que13" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>
<br>
<h5>Question 14</h5>
<p id="Q1">
  How many rational numbers are there between any two given rational numbers?
</p>
<p>(a) Only one</p>
<p>(b) only two</p>
<p>(c) Countless</p>
<p>(d) nothing can be said.</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<br>
<div id="que14" style="display:none;"><h6 id="Answer">Answer: (c)</h6></div>
<br />
<h5>Question 15</h5>
<p id="Q1">A rational number can be represented in the form of:</p>
<p>(a) p/q</p>
<p>(b) pq</p>
<p>(c) p+q</p>
<p>(d) p-q</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<br>
<div id="que15" style="display:none;"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 16</h5>
<p id="Q1">The value of (½) ÷ (⅗) is equal to:</p>
<p>(a) 3/10</p>
<p>(b) 3/5</p>
<p>(c) 6/5</p>
<p>(d) 5/6</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<br>
<div id="que16" style="display:none;"><h6 id="Answer">Answer: (d)</h6></div>

<br />
<h5>Question 17</h5>
<p id="Q1">The associative property is applicable to:</p>
<p>(a) Addition and subtraction</p>
<p>(b) Multiplication and division</p>
<p>(c) Addition and Multiplication</p>
<p>(d) Subtraction and Division</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<br>
<div id="que17" style="display:none;"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 18</h5>
<p id="Q1">The value of (-10/3) x (-15/2) x (17/19) x 0 is:</p>
<p>(a) 0</p>
<p>(b) 22.66</p>
<p>(c) 20</p>
<p>(d) 35</p>
<button onclick="myFunction('que18')" id="view">View Answer</button>
<br>
<div id="que18" style="display:none;"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 19</h5>
<p id="Q1">The additive identity of rational numbers is:</p>
<p>(a) 0</p>
<p>(b) 1</p>
<p>(c) 2</p>
<p>(d) -1</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<br>
<div id="que19" style="display:none;"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 20</h5>
<p id="Q1">The multiplicative identity of rational numbers is:</p>
<p>(a) 0</p>
<p>(b) 1</p>
<p>(c) 2</p>
<p>(d) -1</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br>
<div id="que20" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>
<br>
{% endblock content %}
