{% extends 'base.html' %} {% block title %}
Chapter 9
{% endblock title %}{% block content %}
<div align="center">Alzebric Expressions</h1>
</div>
<h5>Question 1</h5>
<p id="Q1"> An algebraic expression that contains only one term is called:</p>
<p>(a)Monomial</p>
<p>(b)Binomial</p>
<p>(c)Trinomial</p>
<p>(d)None of the above</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<div id="que1" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q2">  5x+6y is a:</p>
<p>(a)Monomial</p>
<p>(b)Binomial</p>
<p>(c)Trinomial</p>
<p>(d)None of the above</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<div id="que2" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q3"> 5x+6y is a:</p>
<p>(a)Monomial</p>
<p>(b)Binomial</p>
<p>(c)Trinomial</p>
<p>(d)None of the above</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<div id="que3" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 4</h5>
<p id="Q4">Wahid bought an air cooler for Rs. 3300 including a tax of 10%. The price of the air cooler before VAT was added is: </p>
<p>(a)One</p>
<p>(b)Two</p>
<p>(c)Three</p>
<p>(d)Any</p>
<button onclick="myFunction('que4`')" id="view">View Answer</button>
<div id="que4" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 5</h5>
<p id="Q5">  In which of the following, the two expressions are like terms?</p>
<p>(a)7x and 7y</p>
<p>(b) 7x and 9x
</p>
<p>(c) 7x and 7x2</p>
<p>(d) 7x and 7xy</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<div id="que5" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 6</h5>
<p id="Q6"> If we add, 7xy + 5yz – 3zx, 4yz + 9zx – 4y and –3xz + 5x – 2xy, then the answer is:
    <p>(b) 5xy + 9yz +3zx + 5x – 4y</p>
    <p>(b)5xy – 9yz +3zx – 5x – 4y</p>
<p>(c) 5xy + 10yz +3zx + 15x – 4y</p>
<p>(d)5xy + 10yz +3zx + 5x – 6y</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<div id="que6" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 7</h5>
<p id="Q7"> If we subtract 4a – 7ab + 3b + 12 from 12a – 9ab + 5b – 3, then the answer is:</p>
<p>(a) 8a+2ab+2b+15</p>
<p>(b) 8a+2ab+2b-15</p>
<p>(c) 8a-2ab+2b-15</p>
<p>(d) 8a-2ab-2b-15</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<div id="que7" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>

<br />
<h5>Question 8</h5>
<p id="Q8">If we multiply 5x and (– 4xyz), then we get:</p>
<p>(a) 20x2yz</p>
<p>(b) -20x2yz</p>
<p>(c) x2yz</p>
<p>(d)z</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<div id="que8" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 9</h5>
<p id="Q9"> The product of 4x and 0 is:</p>
<p>(a)4x</p>
<p>(b)4</p>
<p>(c)0</p>
<p>(d)None of These</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<div id="que9" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 10</h5>
<p id="Q10">The volume of a cuboid with length, breadth and height as 5x, 3x2 and 7x4 respectively is: </p>
<p>(a)105 x 7</p>
<p>(b)39</p>
<p>(c)51000</p>
<p>(d)32</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<div id="que10" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 11</h5>
<p id="Q11">(x – y)(x + y) + (y – z)(y + z) + (z – x) (z + x) is equal to</p>
<p>(a) 0</p>
<p>(b) 6</p>
<p>(c) 1</p>
<p>(d) 3</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<div id="que11" style="display:none;">


    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 12</h5>
<p id="Q12">(x – y)(x + y) + (y – z)(y + z) + (z – x) (z + x) is equal to</p>
<p>(a)  a² + b² – 2ab</p>
<p>(b) a² + b² + 2ab</p>
<p>(c) 242</p>
<p>(d) 422</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<div id="que12" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 13</h5>
<p id="Q13">(a – b)² is equal to</p>
<p>(a)a² + b² – 2ab</p>
<p>(b)5</p>
<p>(c)6</p>
<p>(d)952</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<div id="que13" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 14</h5>
<p id="Q14">(a – b)² is equal to</p>
<p>(a) a² + b² – 2ab</p>
<p>(b) 30x</p>
<p>(c) 40y</p>
<p>(d) 12ab</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<div id="que14" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 15</h5>
<p id="Q15">An algebraic expression that contains only one term is called:.</p>
<p>(a)Monomial</p>
<p>(b)Binomial</p>
<p>(c)Trinomial</p>
<p>(d)None of the above</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<div id="que15" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 16</h5>
<p id="Q16">5x + 6y is a:</p>
<p>(a)Monomial</p>
<p>(b)Binomial</p>
<p>(c)Trinomial</p>
<p>(d)None of the above</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<div id="que16" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 17</h5>
<p id="Q17">The algebraic expression 3x + 2y + 6 is</p>W
<p>(a)Monomial</p>
<p>(b)Binomial</p>
<p>(c)Trinomial</p>
<p>(d)None of the above</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<div id="que17" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 18</h5>
<p id="Q18">A polynomial contains _______ number of terms:</p>
<p>(a) 1</p>
<p>(b) 2</p>
<p>(c) 3</p>
<p>(d) Any</p>
<h6 id="Answer">Answer: (d)</h6>
<button onclick="myFunction('que18')" id="view">View Answer</button>
<div id="que18" style="display:none;">
</div>
<br />
<h5>Question 19</h5>
<p id="Q19">If we add, 7xy + 5yz – 3zx, 4yz + 9zx – 4y and -3xz + 5x – 2xy, then the answer is:</p>
<p>(a)5xy + 9yz + 3zx + 5x – 4y</p>
<p>(b)5xy – 9yz + 3zx – 5x – 4y</p>
<p>(c)  5xy + 10yz + 3zx + 15x – 4y
<p>
<p>(d) 5xy + 10yz + 3zx + 5x – 6y</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<div id="que19" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 20</h5>
<p id="Q20">f we subtract 4a – 7ab + 3b + 12 from 12a – 9ab + 5b – 3, then the answer is:</p>
<p>(a) 8a + 2ab + 2b + 15</p>
<p>(b)  8a – 2ab + 2b – 15</p>
<p>(c)  8a – 2ab + 2b – 15</p>
<p>(d) 8a – 2ab – 2b – 15</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<div id="que20" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
{% endblock content %}