{% extends 'base.html' %} {% block title %} Chapter 5 {% endblock title %}{%
block content %}
<div align="center">
  <h1>Chapter 5 Data Handling</h1>
</div>
<h5>Question 1</h5>
<p id="Q1">The width or size of the class interval 30-40 is:</p>
<p>(a) 10</p>
<p>(b) 30</p>
<p>(c) 40</p>
<p>(d) 70</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<br />
<div id="que1" style="display: none">
  <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q1">
  If a coin is flipped in the air, what is the probability of getting a tail?
</p>
<p>(a) 0</p>
<p>(b) 1/2</p>
<p>(c) 1</p>
<p>(d) 2</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<br />
<div id="que2" style="display: none">
  <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q1">
  A bag has 4 red balls and 4 green balls, what is the probability of getting a
  red ball randomly?
</p>
<p>(a) 1/4</p>
<p>(b) 1/8</p>
<p>(c) 1/2</p>
<p>(d) 0</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<br />
<div id="que3" style="display: none"><h6 id="Answer">Answer: (c)</h6></div>
<br />
<h5>Question 4</h5>
<p id="Q1">
  If a die is thrown in air, the probability of getting even numbers is:
</p>
<p>(a) 1/2</p>
<p>(b) 1/6</p>
<p>(c) 1/3</p>
<p>(d) 2/3</p>
<button onclick="myFunction('que4')" id="view">View Answer</button>
<br />
<div id="que4" style="display: none"><h6 id="Answer">Answer: (c)</h6></div>
<!-- Answer to be changed -->
<br />
<h5>Question 5</h5>
<p id="Q1">Pictorial representation of data using symbols is known as:</p>
<p>(a) Bar graph</p>
<p>(b) Pictograph</p>
<p>(c) Pie chart</p>
<p>(d) None of these</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<br />
<div id="que5" style="display: none"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 6</h5>
<p id="Q1">Double bar graphs display ______ sets of data simultaneously.</p>
<p>(a) Four</p>
<p>(b) Three</p>
<p>(c) Two</p>
<p>(d) No</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<br />
<div id="que6" style="display: none"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 7</h5>
<p id="Q1">_________ gives the number of times a particular entry occurs.</p>
<p>(a) Organization of data</p>
<p>(b) Collection of Data</p>
<p>(c) Representation of Data</p>
<p>(d) Frequency distribution table</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<br />
<div id="que7" style="display: none"><h6 id="Answer">Answer: (d)</h6></div>

<br />
<h5>Question 8</h5>
<p id="Q1">In grouped data, each of the group is called:</p>
<p>(a) Class interval</p>
<p>(b) Collection of data</p>
<p>(c) Frequency</p>
<p>(d) Grouped frequency distribution</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<br />
<div id="que8" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 9</h5>
<p id="Q1">
  If 20-30 is the class interval of grouped data, then lower class limit is:
</p>
<p>(a) 50</p>
<p>(b) 30</p>
<p>(c) 20</p>
<p>(d) 10</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<br />
<div id="que9" style="display: none"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 10</h5>
<p id="Q1">
  The difference between the upper class limit and lower class limit of a class
  interval is called:
</p>
<p>(a) Frequency</p>
<p>(b) Width</p>
<p>(c) Grouped data</p>
<p>(d) Ungrouped data</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<br />
<div id="que10" style="display: none"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h4>
  Study the following frequency distribution table and answer the questions
  given below:
</h4>
<div id="row">
  <div id="column" style="background-color: #aaa">
    <h2>Class interval Age (in years)</h2>
    <p>15-20</p>
    <p>20-25</p>
    <p>25-30</p>
    <p>30-35</p>
    <p>35-40</p>
  </div>
  <div id="column" style="background-color: #bbb">
    <h2>No. of persons</h2>
    <p>12</p>
    <p>20</p>
    <p>42</p>
    <p>20</p>
    <p>6</p>
  </div>
</div>
<br />
<h5>Question 11</h5>
<p id="Q1">What is the size of the class intervals?</p>
<p>(a) 5</p>
<p>(b) 10</p>
<p>(c) 15</p>
<p>(d) 20</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<br />
<div id="que11" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 12</h5>
<p id="Q1">Which class has the highest frequency?</p>
<p>(a) 15-20</p>
<p>(b) 20-25</p>
<p>(c) 25-30</p>
<p>(d) 35-40</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<br />
<div id="que12" style="display: none"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 13</h5>
<p id="Q1">Which class has the lowest frequency?</p>
<p>(a) 35-40</p>
<p>(b) 30-35</p>
<p>(c) 15-20</p>
<p>(d) 25-30</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<br />
<div id="que13" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>

<h5>Question 14</h5>
<p id="Q1">Which two classes have the same frequency?</p>
<p>(a) 15-20 and 35-40</p>
<p>(b) 20-25 and 30-35</p>
<p>(c) 15-20 and 30-35</p>
<p>(d) 20-25 and 25-30</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<br />
<div id="que14" style="display: none"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 15</h5>
<p id="Q1">What is the upper limit of the class interval 25-30?</p>
<p>(a) 20</p>
<p>(b) 25</p>
<p>(c) 30</p>
<p>(d) 35</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<br />
<div id="que15" style="display: none"><h6 id="Answer">Answer: (c)</h6></div>
<!-- Questions to be changes-->
<br />
<h4>
  Study the following frequency distribution table and answer the questions
  given below:
</h4>
<div id="row">
  <div id="column" style="background-color: #aaa">
    <h3>Daily Wages</h3>
    <p>290-325</p>
    <p>325-360</p>
    <p>360-395</p>
    <p>395-430</p>
    <p>430-465</p>
    <p>465-500</p>
  </div>
  <div id="column" style="background-color: #bbb">
    <h3>No. of Workers</h3>
    <p>5</p>
    <p>2</p>
    <p>4</p>
    <p>6</p>
    <p>7</p>
    <p>5</p>
  </div>
</div>
<br />
<h5>Question 16</h5>
<p id="Q1">The lower limit of the sixth class is</p>
<p>(a) 395</p>
<p>(b) 430</p>
<p>(c) 465</p>
<p>(d) 360</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<br />
<div id="que16" style="display: none"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 17</h5>
<p id="Q1">The size of the class intervals is</p>
<p>(a) 25</p>
<p>(b) 30</p>
<p>(c) 40</p>
<p>(d) 35</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<br />
<div id="que17" style="display: none"><h6 id="Answer">Answer: (d)</h6></div>

<br />
<h5>Question 18</h5>
<p id="Q1">The frequency of the third class is</p>
<p>(a) 5</p>
<p>(b) 4</p>
<p>(c) 2</p>
<p>(d) 7</p>
<button onclick="myFunction('que18')" id="view">View Answer</button>
<br />
<div id="que18" style="display: none"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 19</h5>
<p id="Q1">The number of workers getting daily wages 395-430 (in?) is</p>
<p>(a) 4</p>
<p>(b) 5</p>
<p>(c) 6</p>
<p>(d) 7</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<br />
<div id="que19" style="display: none"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 20</h5>
<p id="Q1">Which two classes have the same frequency?</p>
<p>(a) 290-325 and 465-500</p>
<p>(b) 290-325 and 325-360</p>
<p>(c) 430-465 and 465-500</p>
<p>(d) 325-360 and 360-395</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none"><h6 id="Answer">Answer: (c)</h6></div>
<br />
{% endblock content %}
