{% extends 'base.html' %} {% block title %} Chapter 4 {% endblock title %}{%
block content %}
<div align="center">
    <h1>Chapter 4 Practical Geometry</h1>
</div>
<h5>Question 1</h5>
<p id="Q1">To construct a rectangle, we need to know:
</p>
<p>(a) All the interior angles</p>
<p>(b) All the Sides</p>
<p>(c) Only Length and breadth</p>
<p>(d) Only one angle measure</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<br>
<div id="que1" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q1">If two diagonals are given, then we can construct a:</p>
<p>(a) Rhombus</p>
<p>(b) Rectangle</p>
<p>(c) Kite</p>
<p>(d) Parallelogram</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<br>
<div id="que2" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q1">How many measurements are required to construct a quadrilateral, uniquely?</p>
<p>(a) Four</p>
<p>(b) Five</p>
<p>(c) Six</p>
<p>(d) Three</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<br>
<div id="que3" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>
<br />
<h5>Question 4</h5>
<p id="Q1">To construct a parallelogram we need to know:</p>
<p>(a) Length of its parallel sides</p>
<p>(b) Measure of interior angles</p>
<p>(c) Two adjacent sides and one angle</p>
<p>(d) Two adjacent sides and two angles</p>
<button onclick="myFunction('que4')" id="view">View Answer</button>
<br>
<div id="que4" style="display:none;"><h6 id="Answer">Answer: (c)</h6></div>
<br />
<h5>Question 5</h5>
<p id="Q1">If two diagonals and three sides are given, then:</p>
<p>(a) A quadrilateral cannot be constructed</p>
<p>(b) A quadrilateral can be constructed</p>
<p>(c) Insufficient information</p>
<p>(d) Any polygon can be constructed</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<br>
<div id="que5" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 6</h5>
<p id="Q1">To construct a quadrilateral, we need to know two adjacent side and _____ angles.</p>
<p>(a) One</p>
<p>(b) Two</p>
<p>(c) Three</p>
<p>(d) All four angles</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<br>
<div id="que6" style="display:none;"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 7</h5>
<p id="Q1">To construct a quadrilateral, we need to know two diagonals and _____ sides.</p>
<p>(a) One</p>
<p>(b) Two</p>
<p>(c) Three</p>
<p>(d) All four sides</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<br>
<div id="que7" style="display:none;"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 8</h5>
<p id="Q1">To construct a quadrilateral, we need to know three sides and _____ included angles.</p>
<p>(a) One</p>
<p>(b) Two</p>
<p>(c) Three</p>
<p>(d) All four angles</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<br>
<div id="que8" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 9</h5>
<p id="Q1">To construct a square, we need to know:</p>
<p>(a) All the interior angles</p>
<p>(b) All the side lengths</p>
<p>(c) Only one interior angle</p>
<p>(d) Only one side length</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<br>
<div id="que9" style="display:none;"><h6 id="Answer">Answer: (d)</h6></div>

<br />
<h5>Question 10</h5>
<p id="Q1">What is the appropriate condition to construct a quadrilateral?</p>
<p>(a) When four sides and one diagonal are given</p>
<p>(b) When three sides and one diagonal are given</p>
<p>(c) When two sides and one diagonal are given
</p>
<p>(d) None of the above</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<br>
<div id="que10" style="display:none;"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 11</h5>
<p id="Q1">A simple closed curve made up of only ______________ is called a polygon.</p>
<p>(a) curves</p>
<p>(b) line segments</p>
<p>(c) lines</p>
<p>(d) closed curves</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<br>
<div id="que11" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 12</h5>
<p id="Q1">A polygon with minimum number of sides is</p>
<p>(a) Pentagon</p>
<p>(b) Square</p>
<p>(c) triangle</p>
<p>(d) angle</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<br>
<div id="que12" style="display:none;"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 13</h5>
<p id="Q1">A parallelogram each of whose angles measures 90° is ______________.</p>
<p>(a) rectangle</p>
<p>(b) rhombus</p>
<p>(c) kite</p>
<p>(d) trapezium</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<br>
<div id="que13" style="display:none;"><h6 id="Answer">Answer: (a)</h6></div>

<h5>Question 14</h5>
<p id="Q1">
    A parallelogram whose all sides are equal is called
</p>
<p>(a) square</p>
<p>(b) rhombus</p>
<p>(c) rectangle</p>
<p>(d) trapezium</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<br>
<div id="que14" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 15</h5>
<p id="Q1">the diagonals of a rhombus bisect each other at ______________ angles.</p>
<p>(a) acute</p>
<p>(b) right</p>
<p>(c) obtuse</p>
<p>(d) reflex</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<br>
<div id="que15" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 16</h5>
<p id="Q1">Diagonals of a rectangle:</p>
<p>(a) equal to each other</p>
<p>(b) not equal</p>
<p>(c) one is double of the other</p>
<p>(d) none of these</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<br>
<div id="que16" style="display:none;"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 17</h5>
<p id="Q1">The diagonals of a square bisect each other at ______________ angle.</p>
<p>(a) acute</p>
<p>(b) right</p>
<p>(c) obtuse</p>
<p>(d) reflex</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<br>
<div id="que17" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 18</h5>
<p id="Q1">Minimum possible interior angle in a regular polygon is ______________.</p>
<p>(a) 70°</p>
<p>(b) 60°</p>
<p>(c) 90°</p>
<p>(d) 120°</p>
<button onclick="myFunction('que18')" id="view">View Answer</button>
<br>
<div id="que18" style="display:none;"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 19</h5>
<p id="Q1">Maximum possible exterior angle in a regular polygon is ______________.</p>
<p>(a) 70°</p>
<p>(b) 60°</p>
<p>(c) 90°</p>
<p>(d) 120°</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<br>
<div id="que19" style="display:none;"><h6 id="Answer">Answer: (d)</h6></div>

<br />
<h5>Question 20</h5>
<p id="Q1">How many sides does a heptagon have ?</p>
<p>(a) 2</p>
<p>(b) 4</p>
<p>(c) 7</p>
<p>(d) 5</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br>
<div id="que20" style="display:none;"><h6 id="Answer">Answer: (c)</h6></div>
<br>
{% endblock content %}
