{% extends 'base.html' %} {% block title %} Chapter 15 {% endblock title %}{%
block content %}
<div align="center">
    <h1>Chapter 15 Introduction to Graphs</h1>
</div>
<h5>Question 1</h5>
<p id="Q1">A ________ is a bar graph that shows data in intervals.</p>
<p>(a) Bar-Graph</p>
<p>(b) Pie-Chart</p>
<p>(c) Histograph</p>
<p>(d) Line Graph</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<br>
<div id="que1" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q1">A graph that displays data that changes continuously over periods of time is called:</p>
<p>(a) Bar-Graph</p>
<p>(b) Pie-Chart</p>
<p>(c) Histograph</p>
<p>(d) Line Graph</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<br>
<div id="que2" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q1">A line graph which is a whole unbroken line is called a:</p>
<p>(a) Linear Graph</p>
<p>(b) Pie-Chart</p>
<p>(c) Histograph</p>
<p>(d) Bar-Graph</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<br>
<div id="que3" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 4</h5>
<p id="Q1">Which point lies only on y-axis?</p>
<p>(a) (-2, 0)</p>
<p>(b) (2, 0)</p>
<p>(c) (0, -2)</p>
<p>(d) (2, -2)</p>
<button onclick="myFunction('que4')" id="view">View Answer</button>
<br>
<div id="que4" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 5</h5>
<p id="Q1">If we join (-3, 2), (-3,-3) and (-3, 4), then we obtain:</p>
<p>(a) A triangle</p>
<p>(b) Straight-line without passing through origin</p>
<p>(c) Straight-line passing through origin</p>
<p>(d) None of the Above</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<br>
<div id="que5" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>

<br />
<h5>Question 6</h5>
<p id="Q1">The point (4, 0) lies on which of the following?</p>
<p>(a) x-axis</p>
<p>(b) y-axis</p>
<p>(c) origin</p>
<p>(d) None of the Above</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<br>
<div id="que6" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>

<br />
<h5>Question 7</h5>
<p id="Q1">The point (-2,-2) is:</p>
<p>(a) near to x-axis</p>
<p>(b) near to y-axis</p>
<p>(c) near to origin</p>
<p>(d) Equidistant from x-axis and y-axis.</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<br>
<div id="que7" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>

<br />
<h5>Question 8</h5>
<p id="Q1">The point (-2, 5) is nearer to:</p>
<p>(a) x-axis</p>
<p>(b) y-axis</p>
<p>(c) origin</p>
<p>(d) None of the Above</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<br>
<div id="que8" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>

<br />
<h5>Question 9</h5>
<p id="Q1">The point (-5, 2) is nearer to:</p>
<p>(a) x-axis</p>
<p>(b) y-axis</p>
<p>(c) origin</p>
<p>(d) None of the Above</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<br>
<div id="que9" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>

<br />
<h5>Question 10</h5>
<p id="Q1">The point (0, 0) lies at:</p>
<p>(a) x-axis</p>
<p>(b) y-axis</p>
<p>(c) origin</p>
<p>(d) None of the Above</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<br>
<div id="que10" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>

<br />
<p>Observe the following velocity-time graph and answer the related questions:</p>
<br>
<br>
<img src="./images/1.jpg" alt="Velocity-Time Graph">
<br>
<br>
<h5>Question 11</h5>
<p id="Q1">At what time is the velocity maximum?</p>
<p>(a) 7</p>
<p>(b) 8</p>
<p>(c) 9</p>
<p>(d) 10</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<br>
<div id="que11" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>

<br />
<h5>Question 12</h5>
<p id="Q1">At what time is the velocity minimum?</p>
<p>(a) 8</p>
<p>(b) 9</p>
<p>(c) 10</p>
<p>(d) 11</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<br>
<div id="que12" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 13</h5>
<p id="Q1">At what times are the velocities equal?</p>
<p>(a) 8 and 12</p>
<p>(b) 9 and 11</p>
<p>(c) 7 and 12</p>
<p>(d) 11 and 13</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<br>
<div id="que13" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>

<br />
<h5>Question 14</h5>
<p id="Q1">What is the fall in velocity from 7 to 11?</p>
<p>(a) 80 km/hour</p>
<p>(b) 90 km/hour</p>
<p>(c) 100 km/hour</p>
<p>(d) 20 km/hour</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<br>
<div id="que14" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>

<br />
<h5>Question 15</h5>
<p id="Q1">What is the rise in velocity from 11 to 12?</p>
<p>(a) 10 km/hour</p>
<p>(b) 20 km/hour</p>
<p>(c) 30 km/hour</p>
<p>(d) 60 km/hour</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<br>
<div id="que15" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>

<br />
<p>Read the graph and answer the related questions:</p>
<br>
<br>
<img src="images/2.jpg" alt="Graph">
<br>
<h5>Question 16</h5>
<p id="Q1">In which year was the number of labourers maximum?</p>
<p>(a) 2001</p>
<p>(b) 2002</p>
<p>(c) 2003</p>
<p>(d) 2004</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<br>
<div id="que16" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>

<br />
<h5>Question 17</h5>
<p id="Q1">In which year was the number of labourers minimum?</p>
<p>(a) 2003</p>
<p>(b) 2004</p>
<p>(c) 2005</p>
<p>(d) 2006</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<br>
<div id="que17" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>

<br />
<h5>Question 18</h5>
<p id="Q1">What was the difference of the number of labourers in the years 2002 and 2003?</p>
<p>(a) 100</p>
<p>(b) 200</p>
<p>(c) 300</p>
<p>(d) 400</p>
<button onclick="myFunction('que18')" id="view">View Answer</button>
<br>
<div id="que18" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>

<br />
<h5>Question 19</h5>
<p id="Q1">Find the rise in the number of labourers from 2001 to 2004.</p>
<p>(a) 200</p>
<p>(b) 300</p>
<p>(c) 400</p>
<p>(d) 500</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<br>
<div id="que19" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>

<br />
<h5>Question 20</h5>
<p id="Q1">Find the sum of the number of labourers in the years 2004 and 2006.</p>
<p>(a) 700</p>
<p>(b) 600</p>
<p>(c) 200</p>
<p>(d) 500</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br>
<div id="que20" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br>
<br>
<br>
{% endblock content %}
