{% extends 'base.html' %} {% block title %}
Chapter 13
{% endblock title %}{% block content %}
<div align="center">
    <h1>Chapter 13 Direct and Inverse Proportions</h1>
</div>
<h5>Question 1</h5>
<p id="Q1">If x∝y and x1=5, y1=210 and x2 = 2, then find y2?</p>
<p>(a) 200</p>
<p>(b) 84</p>
<p>(c) 99</p>
<p>(d) 70</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<br>
<div id="que1" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br /><h5>Question 2</h5>
<p id="Q1">If the weight of 12 sheets of thick paper is 40 grams, how many sheets of the same paper would weigh 2500 grams?</p>
<p>(a) 700</p>
<p>(b) 800</p>
<p>(c) 850</p>
<p>(d) 950</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<br>
<div id="que2" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q1">The scale of a map is given as 1:300. Two cities are 4 km apart on the map. The actual distance between them is:</p>
<p>(a) 1000 Km</p>
<p>(b) 1100 Km</p>
<p>(c) 1200 Km</p>
<p>(d) 1300 Km</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<br>
<div id="que3" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 4</h5>
<p id="Q1">If x and y are inversely proportional, then which one is true?</p>
<p>(a) x1/y1 = x2/y2</p>
<p>(b) x1/x2 = y1/y2</p>
<p>(c) x1/x2 = y2/y1</p>
<p>(d) x1.x2 = y1.y2</p>
<button onclick="myFunction('que4')" id="view">View Answer</button>
<br>
<div id="que4" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 5</h5>
<p id="Q1">6 pipes are required to fill a tank in 1 hour 20 minutes. If we use 5 such types of pipes, how much time it will take to fill the tank?</p>
<p>(a) 120 minutes</p>
<p>(b) 96 minutes</p>
<p>(c) 80 minutes</p>
<p>(d) 85 minutes</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<br>
<div id="que5" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 6</h5>
<p id="Q1">If 12 workers can build a wall in 50 hours, how many workers will be required to do the same work in 40 hours?</p>
<p>(a) 10</p>
<p>(b) 13</p>
<p>(c) 14</p>
<p>(d) 15</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<br>
<div id="que6" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 7</h5>
<p id="Q1">A man walks 20 km in 5 hours. How much time it will take for him to walk 32 km?</p>
<p>(a) 3 hours</p>
<p>(b) 4 hours</p>
<p>(c) 6 hours</p>
<p>(d) 8 hours</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<br>
<div id="que7" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 8</h5>
<p id="Q1">If 300 Kg of coal cost ₹ 6000 , then find the cost of 120 kg of coal?</p>
<p>(a) ₹ 1200</p>
<p>(b) ₹ 2400</p>
<p>(c) ₹ 3200</p>
<p>(d) ₹ 4200</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<br> 
<div id="que8" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 9</h5>
<p id="Q1">Manvi types 200 words in 30 minutes. How many words she will type in 12 minutes?</p>
<p>(a) 100</p>
<p>(b) 80</p>
<p>(c) 60</p>
<p>(d) 50</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<br> 
<div id="que9" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 10</h5>
<p id="Q1">If it takes 40 days for 120 men to complete a work, how long will it take for 80 men to complete the same work?</p>
<p>(a) 50 days</p>
<p>(b) 60 days</p>
<p>(c) 80 days</p>
<p>(d) 100 days</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<br> 
<div id="que10" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 11</h5>
<p id="Q1">6 pipes are required to fill a tank in 80 minutes. How long will it take if only 5 pipes of the same type are used?</p>
<p>(a) 96 minutes</p>
<p>(b) 102 minutes</p>
<p>(c) 106 minutes</p>
<p>(d) 108 minutes</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<br>
<div id="que11" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 12</h5>
<p id="Q1">If 12 labours can construct a road in 50 hours, how many labours will be required to construct the same road in 40 hours?</p>
<p>(a) 10</p>
<p>(b) 12</p>
<p>(c) 14</p>
<p>(d) 15</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<br>
<div id="que12" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 13</h5>
<p id="Q1">If 100 students took 20 days to clean a garden. How many days it will take to clean the garden if 25 more students are added?</p>
<p>(a) 10</p>
<p>(b) 12</p>
<p>(c) 16</p>
<p>(d) 18</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<br>
<div id="que13" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 14</h5>
<p id="Q1">If x = 10 and y = 20, then x and y are:</p>
<p>(a) Directly proportional</p>
<p>(b) Inversely proportional</p>
<p>(c) Neither directly nor inversely proportional</p>
<p>(d) Cannot be determined</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<br>
<div id="que14" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 15</h5>
<p id="Q1">A car takes 18 hours to ride 720 kilometers. Time taken by the car to travel 360 kilometers is:</p>
<p>(a) 10 hours</p>
<p>(b) 11 hours</p>
<p>(c) 9 hours</p>
<p>(d) 16 hours</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<br>
<div id="que15" style="display:none;">
    <h6 id="Answer">Answer: (C)</h6>
</div>
<br />
<h5>Question 16</h5>
<p id="Q1">The perimeter of a square and its side is in:</p>
<p>(a) Direct Proportion</p>
<p>(b) Indirect Proportion</p>
<p>(c) Neither direct nor indirect</p>
<p>(d) Cannot be determined</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<br>
<div id="que16" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 17</h5>
<p id="Q1">If 20 cows eat as much as 15 oxen, how many cows will eat at much as 36 oxen?</p>
<p>(a) 40</p>
<p>(b) 44</p>
<p>(c) 45</p>
<p>(d) 48</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<br>
<div id="que17" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 18</h5>
<p id="Q1">The fare for a journey of 40 km is Rs. 25. How much can be travelled for Rs. 40?</p>
<p>(a) 32 Km</p>
<p>(b) 64 Km</p>
<p>(c) 50 Km</p>
<p>(d) 60 Km</p>
<button onclick="myFunction('que18')" id="view">View Answer</button>
<br>
<div id="que18" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 19</h5>
<p id="Q1">Apala types 200 words in half an hour. How many words will she type in 12 minutes?</p>
<p>(a) 80</p>
<p>(b) 50</p>
<p>(c) 100</p>
<p>(d) 60</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<br>
<div id="que19" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 20</h5>
<p id="Q1">A labourer is paid Rs. 400 for 2 days work. If he works for 5 days, how much will he get?</p>
<p>(a) Rs. 1000</p>
<p>(b) Rs. 800</p>
<p>(c) Rs. 750</p>
<p>(d) Rs. 900</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br>
<div id="que20" style="display:none;">
<h6 id="Answer">Answer: (a)</h6>
</div>
<br>
{% endblock content %}