{% extends 'base.html' %} {% block title %} Chapter 14 {% endblock title %}{%
block content %}
<div align="center">
  <h1>Chapter 14 Factorisation</h1>
</div>
<h5>Question 1</h5>
<p id="Q1">The factors of 49p2 – 36 are:</p>
<p>(a) (7p+6)^2</p>
<p>(b) (7p-6)^2</p>
<p>(c) (7p – 6) (7p + 6)</p>
<p>(d) None of the above</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<br />
<div id="que1" style="display: none">
  <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q1">The factors of m2 – 256 are:</p>
<p>(a) (m + 4)^2</p>
<p>(b) (m - 4)^2</p>
<p>(c) (m – 4) (m+4)</p>
<p>(d) None of the above</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<br />
<div id="que2" style="display: none">
  <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q1">When we factorise x2+5x+6, then we get:</p>
<p>(a) (x +2) (x + 3)</p>
<p>(b) (x – 2) (x – 3)</p>
<p>(c) (x × 2) + (x × 3)</p>
<p>(d) (x × 2) – (x × 3)</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<br />
<div id="que3" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>
<br />
<h5>Question 4</h5>
<p id="Q1">The factors of 3m2 + 9m + 6 are:</p>
<p>(a) (m + 1) (m + 2)</p>
<p>(b) 3(m + 1) (m + 2)</p>
<p>(c) 6(m + 1) (m + 2)</p>
<p>(d) 9(m + 1) (m + 2)</p>
<button onclick="myFunction('que4')" id="view">View Answer</button>
<br />
<div id="que4" style="display: none"><h6 id="Answer">Answer: (b)</h6></div>
<br />
<h5>Question 5</h5>
<p id="Q1">The common factor of a^3b^3 and ab^2 is:</p>
<p>(a) a^2b^2</p>
<p>(b) ab^2</p>
<p>(c) a^2b</p>
<p>(d) ab</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<br />
<div id="que5" style="display: none"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 6</h5>
<p id="Q1">The common factor of a^3b^2 and a^4b is:</p>
<p>(a) a^4b^2</p>
<p>(b) a^4b</p>
<p>(c) a^3b^2</p>
<p>(d) a^3b</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<br />
<div id="que6" style="display: none"><h6 id="Answer">Answer: (d)</h6></div>

<br />
<h5>Question 7</h5>
<p id="Q1">The common factor 12a and 30 is:</p>
<p>(a) 6</p>
<p>(b) 12</p>
<p>(c) 30</p>
<p>(d) 6a</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<br />
<div id="que7" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 8</h5>
<p id="Q1">The common factors of 10a, 20b and 30c are:</p>
<p>(a) ab</p>
<p>(b) ac</p>
<p>(c) 10abc</p>
<p>(d) 10</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<br />
<div id="que8" style="display: none"><h6 id="Answer">Answer: (d)</h6></div>

<br />
<h5>Question 9</h5>
<p id="Q1">The common factor of 6x^3y^4z^2, 21x^2y and 15x^3 is:</p>
<p>(a) 3x^2</p>
<p>(b) 3x^3</p>
<p>(c) 6x^3</p>
<p>(d) 6x^2</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<br />
<div id="que9" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 10</h5>
<p id="Q1">The common factor of 24a^3b^4, 36a^4c^4 and 48a^3b^2c is:</p>
<p>(a) 12a^3</p>
<p>(b) 24a^3</p>
<p>(c) 36a^3</p>
<p>(d) 48a^3</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<br />
<div id="que10" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 11</h5>
<p id="Q1">The factorisation of 12x^2y + 15xy^2 is:</p>
<p>(a) 3xy^2 (4x + 5y)</p>
<p>(b) 3x^2y (4x + 5y)</p>
<p>(c) 3xy (4x + 5y)</p>
<p>(d) 3x^2y^2 (4x + 5x)</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<br />
<div id="que11" style="display: none"><h6 id="Answer">Answer: (c)</h6></div>

<br />
<h5>Question 12</h5>
<p id="Q1">The factorisation of 3x² + 10x + 8 is</p><!--See this again-->
<p>(a) (3x + 4)(x + 2)</p>
<p>(b) (3x – 4)(x – 2)</p>
<p>(c) (3x + 4)(x – 2)</p>
<p>(d) (3x – 4)(x + 2)</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<br />
<div id="que12" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 13</h5>
<p id="Q1">The factorisation of 3x^2 – 16x + 16 is</p>
<p>(a) (x – 4)(3x – 4)</p>
<p>(b) (x + 4)(3x + 4)</p>
<p>(c) (x – 4)(3x + 4)</p>
<p>(d) (x + 4)(3x – 4).</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<br />
<div id="que13" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>
<br />
<h5>Question 14</h5>
<p id="Q1">
    The factorisation of 6x^2 – 5x – 6 is
</p>
<p>(a) (2x – 3)(3x + 2)</p>
<p>(b) (2x + 3)(3x + 2)</p>
<p>(c) (2x – 3)(3x – 2)</p>
<p>(d) (2x + 3)(3x – 2)</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<br />
<div id="que14" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>
<br />
<h5>Question 15</h5>
<p id="Q1">The factorisation of 6 – x – 2x2 is</p>
<p>(a) (2 + x)(3 – 2x)</p>
<p>(b) (2 + x)(3 + 2x)</p>
<p>(c) (2 – x)(3 – 2x)</p>
<p>(d) (2 – x)(3 + 2x)</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<br />
<div id="que15" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 16</h5>
<p id="Q1">If x^2 – x – 42 = (x + k) (x + 6), then k =</p>
<p>(a) 6</p>
<p>(b) -6</p>
<p>(c) 7</p>
<p>(d) -7</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<br />
<div id="que16" style="display: none"><h6 id="Answer">Answer: (d)</h6></div>

<br />
<h5>Question 17</h5>
<p id="Q1">The value of 3.5 × 3.5 – 2.5 × 2.5 is</p>
<p>(a) -6</p>
<p>(b) 6</p>
<p>(c) 60</p>
<p>(d) 1</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<br />
<div id="que17" style="display: none"><h6 id="Answer">Answer: (b)</h6></div>

<br />
<h5>Question 18</h5>
<p id="Q1">The factorisation of 1 + p + q + r + pq + qr + pr + pqr is</p>
<p>(a) (1 + p)(1 + q)(1 + r)</p>
<p>(b) (1 – p)(1 – q)(1 – r)</p>
<p>(c) (1 – p)(1 – q)(1 + r)</p>
<p>(d) (1 + p)(1 – q)(1 – r)</p>
<button onclick="myFunction('que18')" id="view">View Answer</button>
<br />
<div id="que18" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 19</h5>
<p id="Q1">The value of
    0.645 × 0.645 + 2 × 0.645 × 0.355 + 0.355 × 0.355 is</p>
<p>(a) 1</p>
<p>(b) 0</p>
<p>(c) -1</p>
<p>(d) 2</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<br />
<div id="que19" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>

<br />
<h5>Question 20</h5>
<p id="Q1">he factorisation of 12x+36 is</p>
<p>(a) 12(x+3)</p>
<p>(b) 12(3x)</p>
<p>(c) 12(3x+1)</p>
<p>(d)  x (12+36x)</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none"><h6 id="Answer">Answer: (a)</h6></div>
<br />
{% endblock content %}
