{% extends 'base.html' %} {% block title %} Chapter 16 {% endblock title %}{%
block content %}
<div align="center">
    <h1>Chapter 4 Practical Geometry</h1>
</div>
<h5>Question 1</h5>
<p id="Q1">The usual form of 100 × 7 + 10 × 1 + 8 is:</p>
<p>(a) 108</p>
<p>(b) 708</p>
<p>(c) 718</p>
<p>(d) 170</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<br>
<div id="que1" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q1">Which of the following numbers are not divisible by 5?</p>
<p>(a) 20</p>
<p>(b) 125</p>
<p>(c) 122</p>
<p>(d) 200</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<br>
<div id="que2" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q1">Which of the following numbers are divisible by 10?</p>
<p>(a) 99</p>
<p>(b) 45</p>
<p>(c) 110</p>
<p>(d) 75</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<br>
<div id="que3" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 4</h5>
<p id="Q1">Which of the following are divisible by 2?</p>
<p>(a) 98</p>
<p>(b) 99</p>
<p>(c) 101</p>
<p>(d) 121</p>
<button onclick="myFunction('que4')" id="view">View Answer</button>
<br>
<div id="que4" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 5</h5>
<p id="Q1">If a number is divisible 9, then it is divisible by:</p>
<p>(a) 6</p>
<p>(b) 7</p>
<p>(c) 3</p>
<p>(d) 11</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<br>
<div id="que5" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>

<br />
<h5>Question 6</h5>
<p id="Q1">If the three digit number 24x is divisible by 9, the value of x is:</p>
<p>(a) 3</p>
<p>(b) 7</p>
<p>(c) 1</p>
<p>(d) None of the Above</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<br>
<div id="que6" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>

<br />
<h5>Question 7</h5>
<p id="Q1">The number 2146587 is divisible by:</p>
<p>(a) 7</p>
<p>(b) 3</p>
<p>(c) 11</p>
<p>(d) None of the Above</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<br>
<div id="que7" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>

<br />
<h5>Question 8</h5>
<p id="Q1">The number 15287 is divisible by:</p>
<p>(a) 3</p>
<p>(b) 7</p>
<p>(c) 9</p>
<p>(d) None of the Above</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<br>
<div id="que8" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>

<br />
<h5>Question 9</h5>
<p id="Q1">The general form of 1809 is:</p>
<p>(a) 1 x 1000 + 8 x 100 + 9</p>
<p>(b) 1800 + 9</p>
<p>(c) 1000 + 809</p>
<p>(d) None of the Above</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<br>
<div id="que9" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>

<br />
<h5>Question 10</h5>
<p id="Q1">Which of the following numbers is divisible by 2?</p>
<p>(a) 29</p>
<p>(b) 19</p>
<p>(c) 22</p>
<p>(d) 47</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<br>
<div id="que10" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>

<br />
<h5>Question 11</h5>
<p id="Q1">Suppose A is a digit. Find the value of A if 31A + 1A3 = 501.</p>
<p>(a) 1</p>
<p>(b) 2</p>
<p>(c) 3</p>
<p>(d) 4</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<br>
<div id="que11" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>

<br />
<h5>Question 12</h5>
<p id="Q1">Which value is divisible by 5?</p>
<p>(a) 36</p>
<p>(b) 90</p>
<p>(c) 26</p>
<p>(d) 81</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<br>
<div id="que12" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>

<br />
<h5>Question 13</h5>
<p id="Q1">Which of the following is divisible by 9?</p>
<p>(a) 108</p>
<p>(b) 107</p>
<p>(c) 109</p>
<p>(d) 105</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<br>
<div id="que13" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>

<h5>Question 14</h5>
<p id="Q1">Which of the following is divisible by 3?</p>
<p>(a) 160</p>
<p>(b) 170</p>
<p>(c) 180</p>
<p>(d) 190</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<br>
<div id="que14" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>

<br />
<h5>Question 15</h5>
<p id="Q1">Which of the following numbers is divisible by 10?</p>
<p>(a) 235</p>
<p>(b) 3400</p>
<p>(c) 278</p>
<p>(d) 1277</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<br>
<div id="que15" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>

<br />
<h5>Question 16</h5>
<p id="Q1">Which of the following numbers is not divisible by 10?</p>
<p>(a) 130</p>
<p>(b) 340</p>
<p>(c) 760</p>
<p>(d) 1246</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<br>
<div id="que16" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>

<br />
<h5>Question 17</h5>
<p id="Q1">The usual form of 100 × 7 + 10 × 1 + 8 is: </p>
<p>(a) 108</p>
<p>(b) 708</p>
<p>(c) 718</p>
<p>(d) 170</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<br>
<div id="que17" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>

<br />
<h5>Question 18</h5>
<p id="Q1">Which of the following numbers are not divisible by 5?</p>
<p>(a) 20</p>
<p>(b) 125</p>
<p>(c) 122</p>
<p>(d) 200</p>
<button onclick="myFunction('que18')" id="view">View Answer</button>
<br>
<div id="que18" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>

<br />
<h5>Question 19</h5>
<p id="Q1">The generalised form of 129 is:</p>
<p>(a) 100+90+2</p>
<p>(b) 100+20+9</p>
<p>(c) 100+2+9</p>
<p>(d) None of the Above</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<br>
<div id="que19" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>

<br />
<h5>Question 20</h5>
<p id="Q1">Which of the following are divisible by 2?</p>
<p>(a) 98</p>
<p>(b) 99</p>
<p>(c) 101</p>
<p>(d) 121</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br>
<div id="que20" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br>
{% endblock content %}
