{% extends 'base.html' %} {% block title %}
Chapter 7
{% endblock title %}{% block content %}
<div align="center">Cubes and And Cube roots</h1>
</div>
<h5>Question 1</h5>
<p id="Q1"> Cube root of 512 is:</p>
<p>(a)4</p>
<p>(b)6</p>
<p>(c)8</p>
<p>(d)12</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<div id="que1" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q2"> What should be divided by 53240 to make it a perfect cube?</p>
<p>(a)5</p>
<p>(b)10</p>
<p>(c)15</p>
<p>(d)20</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<div id="que2" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q3">A perfect cube of a number having 0 at its unit place, ends with _____ zeros.</p>
<p>(a) 1</p>
<p>(b) 2</p>
<p>(c) 3</p>
<p>(d) 4</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<div id="que3" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 4</h5>
<p id="Q4">Cube root of 15625 is: </p>
<p>(a)5</p>
<p>(b)15</p>
<p>(c)25</p>
<p>(d)35</p>
<button onclick="myFunction('que4`')" id="view">View Answer</button>
<div id="que4" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 5</h5>
<p id="Q5"> The value of 43√1000 is:</p>
<p>(a)400</p>
<p>(b)40</p>
<p>(c)10</p>
<p>(d)1</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<div id="que5" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 6</h5>
<p id="Q6"> What will be the unit digit of the cube root of a number ends with 2?</p>
<p>(a)2</p>
<p>(b)8</p>
<p>(c)4</p>
<p>(d)6</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<div id="que6" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 7</h5>
<p id="Q7"> Which of the following numbers is not a cube number?</p>
<p>(a)1000</p>
<p>(b)81</p>
<p>(c)18</p>
<p>(d)54</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<div id="que7" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>

<br />
<h5>Question 8</h5>
<p id="Q8">What will be the unit digit of the cube root of a number ends with 3?</p>
<p>(a)6</p>
<p>(b)7</p>
<p>(c)8</p>
<p>(d)9</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<div id="que8" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 9</h5>
<p id="Q9"> What will be the unit digit of the cube root of a number ends with 7?</p>
<p>(a)5</p>
<p>(b)1</p>
<p>(c)3</p>
<p>(d)4</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<div id="que9" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 10</h5>
<p id="Q10">The number of digits in the cube root of a 6-digit number is _______ . </p>
<p>(a)35</p>
<p>(b)39</p>
<p>(c)2</p>
<p>(d)32</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<div id="que10" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 11</h5>
<p id="Q11">Which of the following numbers is a perfect cube ?</p>
<p>(a) 192</p>
<p>(b) 125</p>
<p>(c) 252</p>
<p>(d) 132</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<div id="que11" style="display:none;">


    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 12</h5>
<p id="Q12">9 is the cube root of __________. </p>
<p>(a) 729</p>
<p>(b) 592</p>
<p>(c) 242</p>
<p>(d) 422</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<div id="que12" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 13</h5>
<p id="Q13"> How many digits will be there in the cube root of 46656?</p>
<p>(a)2</p>
<p>(b)5</p>
<p>(c)6</p>
<p>(d)952</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<div id="que13" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 14</h5>
<p id="Q14">  How many digits will be there in the cube root of 512?</p>
<p>(a) 1</p>
<p>(b) 3</p>
<p>(c) 4</p>
<p>(d) 2</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<div id="que14" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 15</h5>
<p id="Q15"> What will be the unit digit of 15625−−−−−√3?re?</p>
<p>(a) 10</p>
<p>(b) 2</p>
<p>(c) 5</p>
<p>(d) 3</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<div id="que15" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 16</h5>
<p id="Q16">How many zeros will be there in the cube root of 27000??</p>
<p>(a) 2</p>
<p>(b) 1</p>
<p>(c) 6</p>
<p>(d) 4</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<div id="que16" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 17</h5>
<p id="Q17">Which of the following numbers is a cube number?</p>
<p>(a) 2</p>
<p>(b) 3</p>
<p>(c) 1000</p>
<p>(d) 4</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<div id="que17" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 18</h5>
<p id="Q18">Which of the following numbers is not a perfect cube?</p>
<p>(a) 100</p>
<p>(b) 22.66</p>
<p>(c) 20</p>
<p>(d) 35</p>
<h6 id="Answer">Answer: (a)</h6>
<button onclick="myFunction('que18')" id="view">View Answer</button>
<div id="que18" style="display:none;">
</div>
<br />
<h5>Question 19</h5>
<p id="Q19">Find the smallest number by which the number 200 must be multiplied to obtain a perfect cube.</p>
<p>(a) 5</p>
<p>(b) 101</p>
<p>(c) 121/
<p>
<p>(d) 144</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<div id="que19" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 20</h5>
<p id="Q20">Find the smallest number by which the number 625 must be divided to obtain a perfect cube.</p>
<p>(a) 999</p>
<p>(b) 5</p>
<p>(c) 962</p>
<p>(d) 970</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<div id="que20" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
{% endblock content %}