{% extends 'base.html' %} {% block title %}
Chapter 12
{% endblock title %}{% block content %}
<div align="center">
    <h1>Chapter 12 Exponents and Powers</h1>
</div>
<h5>Question 1</h5>
<p id="Q1">5^4/5^2 is equal to:</p>
<p>(a) 5^6</p>
<p>(b) 5^-6</p>
<p>(c) 5^-2</p>
<p>(d) 5^2</p>
<button onclick="myFunction('que1')" id="view">View Answer</button>
<br>
<div id="que1" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q1">The value of (3^4)^3 is:</p>
<p>(a) 3</p>
<p>(b) 3^12</p>
<p>(c) 3^7</p>
<p>(d) None of the above</p>
<button onclick="myFunction('que2')" id="view">View Answer</button>
<br>
<div id="que2" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q1">3^2 x 4^2 is equal to:</p>
<p>(a) 121</p>
<p>(b) 49</p>
<p>(c) 144</p>
<p>(d) 156</p>
<button onclick="myFunction('que3')" id="view">View Answer</button>
<br>
<div id="que3" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 4</h5>
<p id="Q1">5^7/6^7 will give the value:</p>
<p>(a) (⅚)^7</p>
<p>(b) (⅚)^0</p>
<p>(c) (⅚)^-7</p>
<p>(d) (6/5)^-7</p>
<button onclick="myFunction('que4')" id="view">View Answer</button>
<br>
<div id="que4" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 5</h5>
<p id="Q1">100^0+20^0+5^0 is equal to</p>
<p>(a) 125</p>
<p>(b) 25</p>
<p>(c) 1/125</p>
<p>(d) 3</p>
<button onclick="myFunction('que5')" id="view">View Answer</button>
<br>
<div id="que5" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 6</h5>
<p id="Q1">If (–3)^m+1 × (–3)^5 = (–3)^7, then the value of m is:</p>
<p>(a) 5</p>
<p>(b) 7</p>
<p>(c) 1</p>
<p>(d) 3</p>
<button onclick="myFunction('que6')" id="view">View Answer</button>
<br>
<div id="que6" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 7</h5>
<p id="Q1">Find the multiplicative inverse of 5^-3.</p>
<p>(a) 53</p>
<p>(b) ⅕</p>
<p>(c) 5^2</p>
<p>(d) 5^-2</p>
<button onclick="myFunction('que7')" id="view">View Answer</button>
<br>
<div id="que7" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 8</h5>
<p id="Q1">The multiplicative inverse of 1/3^2 is:</p>
<p>(a) 3^-2</p>
<p>(b) 3^2</p>
<p>(c) 3</p>
<p>(d) ⅓</p>
<button onclick="myFunction('que8')" id="view">View Answer</button>
<br>
<div id="que8" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 9</h5>
<p id="Q1">What is the value of 4^2 x 4^-2?</p>
<p>(a) 16</p>
<p>(b) 8</p>
<p>(c) 1</p>
<p>(d) 0</p>
<button onclick="myFunction('que9')" id="view">View Answer</button>
<br>
<div id="que9" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 10</h5>
<p id="Q1">(⅓)^2 is equal to:</p>
<p>(a) 9</p>
<p>(b) -9</p>
<p>(c) -1/9</p>
<p>(d) 1/9</p>
<button onclick="myFunction('que10')" id="view">View Answer</button>
<br>
<div id="que10" style="display:none;">
    <h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 11</h5>
<p id="Q1">What is the value of (2^2 + 3^2 + 4^2)^0?</p>
<p>(a) 9</p>
<p>(b) 0</p>
<p>(c) 1</p>
<p>(d) 14</p>
<button onclick="myFunction('que11')" id="view">View Answer</button>
<br>
<div id="que11" style="display:none;">
    <h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 12</h5>
<p id="Q1">(-1)^20 is equal to:</p>
<p>(a) -1</p>
<p>(b) 1</p>
<p>(c) 0</p>
<p>(d) 20</p>
<button onclick="myFunction('que12')" id="view">View Answer</button>
<br>
<div id="que12" style="display:none;">
    <h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 13</h5>
<p id="Q1">700000000 is equal to:</p>
<p>(a) 7 × 10^8</p>
<p>(b) 7 × 10^7</p>
<p>(c) 7 × 10^6</p>
<p>(d) 7 × 10^9</p>
<button onclick="myFunction('que13')" id="view">View Answer</button>
<br>
<div id="que13" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 14</h5>
<p id="Q1">0.0016 is equal to</p>
<p>(a) 1.6 × 10^-3</p>
<p>(b) 1.6 × 10^-2</p>
<p>(c) 1.6 × 10^-4</p>
<p>(d) 1.6 × 10^-5</p>
<button onclick="myFunction('que14')" id="view">View Answer</button>
<br>
<div id="que14" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 15</h5>
<p id="Q1">0.000003 is equal to </p>
<p>(a) 3 × 10^-6</p>
<p>(b) 3 × 10^6</p>
<p>(c) 3 × 10^5</p>
<p>(d) 3 × 10^-5</p>
<button onclick="myFunction('que15')" id="view">View Answer</button>
<br>
<div id="que15" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 16</h5>
<p id="Q1"> 8848 is equal to</p>
<p>(a) 8.848 × 10^3</p>
<p>(b) 8.848 × 10^2</p>
<p>(c) 8.848 × 10</p>
<p>(d) 8.848 × 10^4</p>
<button onclick="myFunction('que16')" id="view">View Answer</button>
<br>
<div id="que16" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 17</h5>
<p id="Q1">1.5 × 10^11 is equal to </p>
<p>(a) 150000000000</p>
<p>(b) 15000000000</p>
<p>(c) 1500000000</p>
<p>(d) 1500000000000</p>
<button onclick="myFunction('que17')" id="view">View Answer</button>
<br>
<div id="que17" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 18</h5>
<p id="Q1">2.1 × 10^-6 is equal to </p>
<p>(a) 0.0000021</p>
<p>(b) 0.000021</p>
<p>(c) 0.00021</p>
<p>(d) 0.0021</p>
<button onclick="myFunction('que18')" id="view">View Answer</button>
<br>
<div id="que18" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 19</h5>
<p id="Q1">2.5 × 10^4 is equal to </p>
<p>(a) 25</p>
<p>(b) 250</p>
<p>(c) 2500</p>
<p>(d) 25000</p>
<button onclick="myFunction('que19')" id="view">View Answer</button>
<br>
<div id="que19" style="display:none;">
    <h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 20</h5>
<p id="Q1">0.07 × 10^10 is equal to </p>
<p>(a) 700000000</p>
<p>(b) 7000000</p>
<p>(c) 7000</p>
<p>(d) 7</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br>
<div id="que20" style="display:none;">
<h6 id="Answer">Answer: (b)</h6>
</div>
<br>
{% endblock content %}
