{% extends 'base.html' %} {% block title %}
    Chapter 2
{% endblock title %}{% block content %}
<div align="center">
  <h1>Chapter 2 Linear Equations in one Variable</h1>
</div>
<h5>Question 1</h5>
<p id="Q1">Which of the following is not a linear equation in one variable?</p>
<p>(a) 33z+5 = 0</p>
<p>(b) 33(x+y) = 0</p>
<p>(c) 33x+5 = 0</p>
<p>(d) 33y+5 = 0</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 2</h5>
<p id="Q1">The solution of 2x-3=7 is:</p>
<p>(a) 5</p>
<p>(b) 7</p>
<p>(c) 12</p>
<p>(d) 11</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 3</h5>
<p id="Q1">The solution of 2y + 9 = 4 is:</p>
<p>(a) 9/2</p>
<p>(b) 4/9</p>
<p>(c) -2/5</p>
<p>(d) -5/2</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 4</h5>
<p id="Q1">The solution of y/5 = 10 is:</p>
<p>(a) 15</p>
<p>(b) 10</p>
<p>(c) 50</p>
<p>(d) 5</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 5</h5>
<p id="Q1">What should be added to -7/3 to get 3/7?</p>
<p>(a) 21/58</p>
<p>(b) 58/21</p>
<p>(c) 47/21</p>
<p>(d) 50/21</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 6</h5>
<p id="Q1">The perimeter of the rectangle is 20cm. If the length of the rectangle is 6cm, then its breadth will be</p>
<p>(a) 4 cm</p>
<p>(b) 6 cm</p>
<p>(c) 10 cm</p>
<p>(d) 14 cm</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 7</h5>
<p id="Q1">The age of the father is three times the age of the son. If the age of the son is 15 years old, then the age of the father is:
</p>
<p>(a) 50 years</p>
<p>(b) 55 years</p>
<p>(c) 40 years</p>
<p>(d) 45 years</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 8</h5>
<p id="Q1">The difference between two whole numbers is 66. The ratio of the two numbers is 2: 5. The two numbers are:</p>
<p>(a) 60 and 6</p>
<p>(b) 100 and 33</p>
<p>(c) 110 and 44</p>
<p>(d) 99 and 33</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 9</h5>
<p id="Q1">Three consecutive integers add up to 51. The integers are:</p>
<p>(a) 16,17,18</p>
<p>(b) 15,16,17</p>
<p>(c) 17,18,19</p>
<p>(d) 18,19,20</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 10</h5>
<p id="Q1">The solution for 3m = 5m – (8/5) is:</p>
<p>(a) 8/5</p>
<p>(b) 4/5</p>
<p>(c) 5/4</p>
<p>(d) 4/3</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 11</h5>
<p id="Q1">Which of the following is not a linear equation in one variable?</p>
<p>(a) 33</p>
<p>(b) 33(x+y)</p>
<p>(c) 33x</p>
<p>(d) 33y</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 12</h5>
<p id="Q1">The solution of 2x-3=7 is:</p>
<p>(a) 5</p>
<p>(b) 7</p>
<p>(c) 12</p>
<p>(d) 11</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 13</h5>
<p id="Q1">The solution of 2y + 9 = 4 is:</p>
<p>(a) 9/2</p>
<p>(b) 4/9</p>
<p>(c) -2/5</p>
<p>(d) -5/2</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (d)</h6>
</div>
<h5>Question 14</h5>
<p id="Q1">
    The solution of y/5 = 10 is:
</p>
<p>(a) 15</p>
<p>(b) 10</p>
<p>(c) 50</p>
<p>(d) 5</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 15</h5>
<p id="Q1">What should be added to -7/3 to get 3/7?</p>
<p>(a) 21/58</p>
<p>(b) 58/21</p>
<p>(c) 47/21</p>
<p>(d) 50/21</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (b)</h6>
</div>
<br />
<h5>Question 16</h5>
<p id="Q1"> The perimeter of rectangle is 20cm. If the length of rectangle is 6cm, then its breadth will be:</p>
<p>(a) 4 cm</p>
<p>(b) 6 cm</p>
<p>(c) 10 cm</p>
<p>(d) 14 cm</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 17</h5>
<p id="Q1">The age of father is three times the age of son. If the age of son is 15 years old, then the age of father is:</p>
<p>(a) 50 years</p>
<p>(b) 55 years</p>
<p>(c) 40 years</p>
<p>(d) 45 years</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (d)</h6>
</div>
<br />
<h5>Question 18</h5>
<p id="Q1">The difference between two whole numbers is 66. The ratio of the two numbers is 2 : 5. The two numbers are:</p>
<p>(a) 60 and 6</p>
<p>(b) 100 and 33</p>
<p>(c) 110 and 44</p>
<p>(d) 99 and 33</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (c)</h6>
</div>
<br />
<h5>Question 19</h5>
<p id="Q1">Three consecutive integers add up to 51. The integers are:</p>
<p>(a) 16,17,18</p>
<p>(b) 15,16,17</p>
<p>(c) 17,18,19</p>
<p>(d) 18,19,20</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (a)</h6>
</div>
<br />
<h5>Question 20</h5>
<p id="Q1">The solution for 3m = 5m – (8/5) is:</p>
<p>(a) 8/5</p>
<p>(b) 4/5</p>
<p>(c) 5/4</p>
<p>(d) 4/3</p>
<button onclick="myFunction('que20')" id="view">View Answer</button>
<br />
<div id="que20" style="display: none">
<h6 id="Answer">Answer: (b)</h6>
</div>
<br>
{% endblock content %}