{% extends 'class-8.html' %} {% block body1 %}
<br>
<div id="btn3" class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Select Chapter
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-1">Chapter 1</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-2">Chapter 2</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-3">Chapter 3</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-4">Chapter 4</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-5">Chapter 5</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-6">Chapter 6</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-7">Chapter 7</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-8">Chapter 8</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-9">Chapter 9</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-10">Chapter 10</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-11">Chapter 11</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-12">Chapter 12</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-13">Chapter 13</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-14">Chapter 14</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-15">Chapter 15</a>
    </li>
    <li>
      <a class="dropdown-item" href="/class-8/maths/chapter-16">Chapter 16</a>
    </li>
</div>
<div>{% block body2 %} {% endblock body2 %}</div>
{% endblock body1 %}
